---
layout: 'base.njk'
---

<article class="main-article">

  <aside>
    <details>
      <summary>
     Table of Contents
      </summary>

      {{ content | toc | safe }}

    </details>
    <a href="#top-of-site-anchor" class="top-of-site-link" data-visible="true">
      <img src="/assets/blog/right-chevron 1.png" alt="Back to Top" class="back-to-top-image">
    </a>

  </aside>
  <div class="container container--narrow flow">
    <div id="top-of-site-anchor"></div>
    <h1 class="article-title">
      {{ title}}
    </h1>
    <figure class="main-article__figure">
      <img src="{{ image }}" alt="{{ imageAlt }}">
      <figcaption>
        {{ imageAlt}}
      </figcaption>
    </figure>

    {{ content | safe}}

    <script>
      const updateButton = getElementsByClassName("updateDetails");
      const cancelButton = getElementsByClassName("cancel");
      const dialog = document.getElementsByClassName("modal");
      dialog.returnValue = "favAnimal";

      function openCheck(dialog) {
        if (dialog.open) {
          console.log("Dialog open");
        } else {
          console.log("Dialog closed");
        }
      }

      // Update button opens a modal dialog
      updateButton.addEventListener("click", () => {
        dialog.showModal();
        openCheck(dialog);
      });

      // Form cancel button closes the dialog box
      cancelButton.addEventListener("click", () => {
        dialog.close("animalNotChosen");
        openCheck(dialog);
      });
    </script>
  </article>